element.style {
  background-color: rgb(42, 42, 255);
}

.size{
  height: auto;
  font-size: 17px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wrapper {
    padding: 0px;
}


.wrapper button {
  border: 0;
  background: #bcbcbc;
  cursor: pointer;
  border-radius: 9px;
  }

ul {
  display: flex;
  padding: 0px;
}

li {
  margin: 10 20px;
  list-style: none;
  padding: 0;
}


.topBanner1 {
  padding-bottom: 10px;
}

.logOut {
  margin-left: 10px;
}

.topRow1 {
  margin: 5px;
}

.topRow1:active {
  margin: 5px;
  background: #dfdfdf;
  color:rgb(111, 111, 111);
}

.topRow2 {
  margin: 35px;
  background: #f9f9f9;
  cursor: pointer;
  border-radius: 9px;
  padding-bottom: 11px;
  padding-top: 12px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  text-decoration: inherit;
  color: rgb(55, 55, 55);
}

#journeySubmitButton {
  margin-bottom: 10px;
  margin-top: 10px;
  background: #7f7f7f;
  cursor: pointer;
  border-radius: 9px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: inherit;
  color: white;
  font-size: 15px;
}

#railSubmitButton {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 4px;
  background: #7f7f7f;
  cursor: pointer;
  border-radius: 9px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: inherit;
  color: white;
  font-size: 15px;
}


#manualSubmitButton {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 4px;
  background: #7f7f7f;
  cursor: pointer;
  border-radius: 9px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: inherit;
  color: white;
  font-size: 15px;
}


#useCurrentLocation{
  margin-left: 2px;
  margin-bottom: 10px;
  background: #7f7f7f;
  cursor: pointer;
  border-radius: 9px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  color: white;
  font-size: 12px;
}

#useCurrentLocation:active{
  background: #59a7ff;
}


#manualSubmitButton:active{
  background: #59a7ff;
}


#journeySubmitButton:active{
  background: #59a7ff;
}

button#showHide:active {
  color: white;
  background: #59a7ff;
}

.topRow2:active {
  background: #ffffff;
  color:black;
}

a.topRow2.active{
  background: #0080ff;
  color: rgb(255, 255, 255);
}

navbar.NavBar1{
  background: #cecece;
  padding-bottom: 0.85pc;
  padding-top: 0.9pc;
  border-radius: 9px;
}

.backHome{
  margin: 0;
  background: #efefef;
  cursor: pointer;
  border-radius: 9px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: inherit;
}

.transactions {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 13px;
  width: 98vw;
  border-radius: 20px;
  
  }

.transactions td{
  border: 0px solid #ddd;
  border-radius: 0px;
  padding: 6px;  
}

.transactions tr:hover {
  background-color: #ddd;
  border-radius: 20px;

}

.TableRow{
  text-align: left;
}

.highlights{
  background: #ff6e6e;
  border-radius: 20px;
  padding: 10px;
  margin-right: 8px;
  margin-left: 8px;
  width: 50%;
  display: flex;
  text-align: center;
  
}

div.gm-style {
  overflow: hidden;
  white-space: nowrap;
  font: 400 15px Roboto, Arial, sans-serif;
  font-weight: bold;
  color:#336bbf;
}

#locationAddress{
  min-height: 1000%;
}

.divCarInput{
  text-align: left;
  background-color: #ffe9e9;
  border-radius: 20px;
}

.divRailInput{
  text-align: left;
  background-color: #c1ecf0;
  border-radius: 20px;
}

.divBusInput{
  text-align: left;
  background-color: #f5dee9;
  border-radius: 20px;
}

.divFlightInput{
  text-align: left;
  background-color: #ddf0e8;
  border-radius: 20px;
}

.manualInput{
  text-align: left;
  background-color: #e3f2ff;
  border-radius: 20px;
}

.optionInput{
  text-align: center;
  background-color: #e3f2ff;
  border-radius: 20px;
}


#textLocation{
  text-align: center;
}

#showLocation{
  text-align: right;
}

#inputData{
  margin-left: 10px;
}


.switchMode a{
  background: #d8cab8;
  color: rgb(57, 57, 57);
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 20px;
}

a.btn-animation.active{
  background: rgb(156, 196, 255);
}

a.active-animation:active{
  background: #e6e6e6;
}


@media (orientation: landscape){
  .manualInput{
    display:inline-block;
    text-align: center;
    background-color: #e3f2ff;
    border-radius: 20px;
    width: 50vw;
  }

  .divRailInput{
    display:inline-block;
    text-align: center;
    background-color: #c1ecf0;
    border-radius: 20px;
    width: 50vw;
  }

  .divCarInput{
    display:inline-block;
    text-align: center;
    background-color: #ffe9e9;
    border-radius: 20px;
    width: 50vw;
  }

  .divBusInput{
    display:inline-block;
    text-align: center;
    background-color: #f5dee9;
    border-radius: 20px;
    width: 50vw;
  }

  .divFlightInput{
    display:inline-block;
    text-align: center;
    background-color: #ddf0e8;
    border-radius: 20px;
    width: 50vw;
  }

  .optionInput{
    display:inline-block;
    text-align: center;
    background-color: #e3f2ff;
    border-radius: 20px;
    width: 50vw;
  }

  #manualSubmitButton {
    margin-left: 0px;
    align-items: center;
    background: #7f7f7f;
    cursor: pointer;
    border-radius: 9px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: inherit;
    color: white;
    font-size: 15px;
  }

  #journeySubmitButton {
    margin-left: 0px;
    align-items: center;
    background: #7f7f7f;
    cursor: pointer;
    border-radius: 9px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: inherit;
    color: white;
    font-size: 15px;
  }

  #railSubmitButton {
    margin-left: 0px;
    align-items: center;
    background: #7f7f7f;
    cursor: pointer;
    border-radius: 9px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: inherit;
    color: white;
    font-size: 15px;
  }

  .titleClass{
    text-align: center;
    border-radius: 20px;
    margin-left: 25vw;
    margin-right: 25vw;
  
  }

}

