element.style {
  background-color: rgb(42, 42, 255);
}

.size {
  height: auto;
  font-size: 17px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wrapper button {
  border: 0;
  background: #bcbcbc;
  cursor: pointer;
  border-radius: 9px;
}

ul {
  display: flex;
  padding: 0px;
}

li {
  margin: 10 20px;
  list-style: none;
  padding: 0;
}

.logOut {
  margin-left: 10px;
}

.topRow1 {
  margin: 5px;
}

.topRow1:active {
  margin: 5px;
  background: #dfdfdf;
  color: rgb(111, 111, 111);
}

.topRow2 {
  display: flexbox;
  margin: 1vw;
  background: #f3f3f3;
  cursor: pointer;
  border-radius: 9px;
  padding-bottom: 11px;
  padding-top: 12px;
  padding-left: 1vw;
  padding-right: 1vw;
  text-decoration: inherit;
  color: rgb(102, 102, 102);
}

#journeySubmitButton {
  margin-bottom: 10px;
  margin-top: 10px;
  background: #7f7f7f;
  cursor: pointer;
  border-radius: 9px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: inherit;
  color: white;
  font-size: 15px;
}

#railSubmitButton {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 4px;
  background: #7f7f7f;
  cursor: pointer;
  border-radius: 9px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: inherit;
  color: white;
  font-size: 15px;
}

#manualSubmitButton {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 4px;
  background: #7f7f7f;
  cursor: pointer;
  border-radius: 9px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: inherit;
  color: white;
  font-size: 15px;
}

#useCurrentLocation {
  margin-left: 2px;
  margin-bottom: 10px;
  background: #7f7f7f;
  cursor: pointer;
  border-radius: 9px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  color: white;
  font-size: 12px;
}

button.changeTime {
  background: #ffffff;
  color: rgb(47, 47, 47);
  border: 1px solid #acacac;
}

#useTrains {
  margin-left: 2px;
  margin-bottom: 10px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 9px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  color: rgb(47, 47, 47);
  font-size: 15px;
  border: 1px solid #acacac;
}

#useCurrentLocation:active {
  background: #59a7ff;
}

#useTrains:active {
  background: #59a7ff;
}

#manualSubmitButton:active {
  background: #59a7ff;
}

#journeySubmitButton:active {
  background: #59a7ff;
}

button#showHide:active {
  color: white;
  background: #59a7ff;
}

.topRow2:active {
  background: #bfbfbf;
  color: black;
}

a.topRow2.active {
  background: #0080ff;
  color: rgb(255, 255, 255);
}

navbar.NavBar1 {
  padding-bottom: 0.85pc;
  padding-top: 0.9pc;
  border-radius: 9px;
}

.backHome {
  margin: 0;
  background: #efefef;
  cursor: pointer;
  border-radius: 9px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: inherit;
}

.transactions {
  display: inline-table;
  width: 98vw;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 15px;
  border-radius: 20px;
  color: black;
  background-color: #f0f0f0;
}

.transactions td {
  border: 0px solid #ddd;
  border-radius: 0px;
  padding: 6px;
}

.transactions tr:hover {
  background-color: #c2c2c2;
  border-radius: 20px;
}

.TableRow {
  text-align: left;
}

.highlights {
  font-weight: 600;
  background: #ffaeae;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 15px;
  margin-bottom: 0px;
}

#highlights2 {
  background: #6bab9d;
  border-radius: 20px;
  padding: 10px;
  margin-right: 8px;
  margin-left: 8px;

  display: flex;
  text-align: center;
  color: black;
}

div.gm-style {
  overflow: hidden;
  white-space: nowrap;
  font: 400 15px Roboto, Arial, sans-serif;
  font-weight: bold;
  color: #336bbf;
}

#locationAddress {
  min-height: 1000%;
}

.divCarInput {
  text-align: left;
  background-color: #ffe9e9;
  border-radius: 20px;
  color: black;
}

.divRailInput {
  text-align: left;
  background-color: #c1ecf0;
  border-radius: 20px;
  color: black;
}

.divBusInput {
  text-align: left;
  background-color: #f5dee9;
  border-radius: 20px;
  color: black;
}

.divFlightInput {
  text-align: left;
  background-color: #ddf0e8;
  border-radius: 20px;
  color: black;
}

.manualInput {
  background-color: #fafafa;
  border-radius: 20px;
  width: 98vw;
  color: black;
  padding-top: 1px;
}

.NRLogo {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px;
}

.optionInput {
  background-color: #e2ddff;
  border-radius: 20px;
  width: 98vw;
  color: black;
  margin-top: -30px;
}

#textLocation {
  text-align: center;
}

#showLocation {
  text-align: right;
}

#inputData {
  margin-left: 10px;
}

.switchMode a {
  background: #d8cab8;
  color: rgb(57, 57, 57);
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 20px;
}

a.btn-animation.active {
  background: rgb(156, 196, 255);
}

a.active-animation:active {
  background: #e6e6e6;
}

.rct-xy-plot * {
  fill: #028499;
}

#puff1 {
  position: relative;
  top: 15px;
  margin-top: -50px;
}

.infoTrain {
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin-bottom: 0px;
}

.tableTR {
  text-align: justify;
  text-align-last: right;
  width: 100%;
  height: 3.5em;
  display: inline-block;
}

.trainInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.trainInfoBox {
  padding: 10px;
  background-color: #b1d1de;
  border-radius: 20px;
  max-width: 150px;
  color: black;
}

.platformBox {
  padding: 10px;
  background-color: #adceab;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 150px;
}

@media only screen and (max-width: 318px) {
  .topRow2 {
    display: flex;
    height: 25px;
    padding: 3px;
  }
}

@media only screen and (min-width: 700px) {
  .manualInput {
    display: inline-block;
    min-width: 700px;
    max-width: 1000px;
    padding-top: 0px;
  }

  .highlights {
    display: inline-block;
    align-items: center;
    width: 700px;
    text-align: center;
    margin-bottom: 25px;
  }

  .transactions {
    display: inline-table;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    width: 50vw;
    min-width: 700px;
    max-width: 1000px;
  }

  .tableTR {
    display: inline-table;
    text-align: center;
    text-align-last: center;
  }

  .infoTrain {
    display: inline-block;
    width: 50vw;
    text-align: center;
  }

  .topBanner1 {
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    width: 50vw;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }

  .divRailInput {
    display: inline-block;
    text-align: center;
    background-color: #c1ecf0;
    border-radius: 20px;
    width: 50vw;
  }

  .divCarInput {
    display: inline-block;
    text-align: center;
    background-color: #ffe9e9;
    border-radius: 20px;
    width: 50vw;
  }

  .divBusInput {
    display: inline-block;
    text-align: center;
    background-color: #f5dee9;
    border-radius: 20px;
    width: 50vw;
  }

  .divFlightInput {
    display: inline-block;
    text-align: center;
    background-color: #ddf0e8;
    border-radius: 20px;
    width: 50vw;
  }

  .optionInput {
    display: inline-block;
    min-width: 700px;
    max-width: 1000px;
    text-align: center;
    background-color: #e2ddff;
    border-radius: 20px;
    width: 50vw;
    margin-top: 0px;
  }

  #manualSubmitButton {
    margin-left: 0px;
    align-items: center;
    background: #7f7f7f;
    cursor: pointer;
    border-radius: 9px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: inherit;
    color: white;
    font-size: 15px;
  }

  #journeySubmitButton {
    margin-left: 0px;
    align-items: center;
    background: #7f7f7f;
    cursor: pointer;
    border-radius: 9px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: inherit;
    color: white;
    font-size: 15px;
  }

  #railSubmitButton {
    margin-left: 0px;
    align-items: center;
    background: #7f7f7f;
    cursor: pointer;
    border-radius: 9px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: inherit;
    color: white;
    font-size: 15px;
  }

  .titleClass {
    display: inline-flex;
    text-align: center;
    border-radius: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .topRow2 {
    margin: 50px;
    cursor: pointer;
    border-radius: 9px;
    padding-bottom: 11px;
    padding-top: 12px;
    padding-left: 6.5px;
    padding-right: 6.5px;
    text-decoration: inherit;
    color: rgb(102, 102, 102);
  }

  navbar.NavBar1 {
    display: inline-flex;
    margin: -50px;
  }
}
